* {
    margin: 0px;
}

#main {
    width: 100vw;
    height: 500px;
}

#main_centered {
    height: 500px;
    width: 800px;
    margin: auto;
}
#board {
    float: left;
    height: 500px;
    width: 500px;
}
#panel {
    float: right;
    height: 496px;
    width: 250px;
    border: 2px solid black;
}

#move_history {
    padding: 5px;
    overflow-y: scroll;

    height: 423px;
    width: 240px;
    border-bottom: 2px solid black;

    font-family: 'Share Tech Mono', monospace;
}
.move {
    padding: 5px;
}

#top_buffer {
    height: calc((100vh - 500px) / 2);
}
#bottom_buffer {
    height: calc((100vh - 500px) / 2);
}
