{% extends "layout1.html" %}

{% block content_body %}

<div id = "top_buffer"></div>

<div id = "main">

    <div id = "main_centered">

        <div id = "board"></div>

        <div id = "panel">

            <div id = "move_history">

                <div class = "move"></div>

            </div>

        </div>

    </div>

</div>

<div id = "bottom_buffer"></div>

<script>

    var board, game = new Chess();

    // AI

    var makeBestMove = function (ai_move) {

        game.move(ai_move, {sloppy: true});

        board.position(game.fen());
        renderMoveHistory(game.history());

        if (game.game_over() && (bestMove !== void(0))) {
            var historyElement = $('#move_history');
            historyElement.append('<div class = "move">' + '>> Computer wins.</div>');
        }
        else if (game.game_over()) {
            var historyElement = $('#move_history');
            historyElement.append('<div class = "move">' + '>> Human wins.</div>');
        }

    };

    var getBestMove = function () {

        $.ajax({

            url : '{{ url_for('ai') }}',
            type : 'POST',

            data : {
                'fen' : game.fen()
            },

            success: function(response) {
                makeBestMove(response);
            }

        });

    };

    // BOARD

    var onDragStart = function (source, piece, position, orientation) {

        if (game.in_checkmate() === true || game.in_draw() === true || piece.search(/^b/) !== -1) {
            return(false);
        }

    };

    var renderMoveHistory = function (moves) {

        var historyElement = $('#move_history').empty();
        historyElement.empty();

        for (var i = 0; i < moves.length; i = i + 2) {
            historyElement.append('<div class = "move">' + '>> ' + moves[i] + ( moves[i + 1] ? ' ' + moves[i + 1] : ' ') + '</div>');
        }

        historyElement.scrollTop(historyElement[0].scrollHeight);

    };

    var onDrop = function (source, target) {

        var move = game.move({
            from: source,
            to: target,
            promotion: 'q'
        });

        removeGreySquares();
        if (move === null) {
            return 'snapback';
        }

        renderMoveHistory(game.history());
        window.setTimeout(getBestMove, 250);

    };

    var onSnapEnd = function () {

        board.position(game.fen());

    };

    var onMouseoverSquare = function(square, piece) {

        var moves = game.moves({
            square: square,
            verbose: true
        });

        if (moves.length === 0) return;

        greySquare(square);

        for (var i = 0; i < moves.length; i++) {
            greySquare(moves[i].to);
        }

    };

    var onMouseoutSquare = function(square, piece) {

        removeGreySquares();

    };

    var removeGreySquares = function() {

        $('#board .square-55d63').css('background', '');

    };

    var greySquare = function(square) {

        var squareEl = $('#board .square-' + square);

        var background = '#a9a9a9';
        if (squareEl.hasClass('black-3c85d') === true) {
            background = '#696969';
        }

        squareEl.css('background', background);

    };


    var config = {
        position: 'start',
        draggable: true,
        snapbackSpeed: 100,
        snapSpeed: 100,
        onDragStart: onDragStart,
        onDrop: onDrop,
        onMouseoutSquare: onMouseoutSquare,
        onMouseoverSquare: onMouseoverSquare,
        onSnapEnd: onSnapEnd
    }
    var board = Chessboard('board', config)

</script>

{% endblock %}
